* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background: #f4f3ee;
}

.header {
  width: 40%;
  background: url('/images/background.jpg') no-repeat;
}

.logo__container {
  width: 100%;
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.411);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo__image {
  display: block;
  width: 2rem;
  height: 2rem;
}

.logo__text {
  color: #fff;
  font-size: 2rem;
}

.main {
  width: 60%;
  height: 100vh;
  /* margin-left: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.textbox {
  margin-left: 50px;
  justify-content: flex-end;
  height: 25%;
}

.textbox p {
  font-size: 1.5rem;
  font-weight: bold;
}

.form {
  height: 40%;
}

.form__title {
  margin: 0;
  background: #fff;
  padding: 10px 50px;
}

.mainform-container {
  padding: 20px 50px;
  background: #fff;
  display: flex;
  /* height: 400px; */
  gap: 50px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.021);
}
.mainform__flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__label {
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.input {
  background: #f4f3ee;
  border: 0.3px solid rgba(209, 207, 207, 0.521);
  border-radius: 5px;
  height: 1.5rem;
}

.input:focus {
  border: 0.3px solid rgb(2, 2, 255);
}

.mainform__fex-subcontainer {
  display: flex;
  flex-direction: column;
}

.create-button {
  padding: 15px 35px;
  background: rgb(63, 83, 39);
  border: none;
  border-radius: 8px;
  margin-left: 50px;
  margin-top: 30px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  display: flex;
  position: static;
}

.login-container {
  margin-left: 50px;
  height: 20%;
}

.login__link {
  color: rgb(63, 83, 39);
  text-decoration: none;
  font-weight: bold;
}
